* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

#root {
    position: relative;
    height: 100%;
}

.ui.menu.navbar.attached {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .ui.container {
      width: 1190px;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1400px) {
    .ui.container {
      width: 1390px;
    }
}

@media screen and (max-width: 1799px) and (min-width: 1600px) {
    .ui.container {
      width: 1590px;
    }
}

@media screen and (max-width: 1999px) and (min-width: 1800px) {
    .ui.container {
      width: 1790px;
    }
}

@media screen and (min-width: 2000px) {
    .ui.container {
      width: 1990px;
    }
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ui.breadcrumb {
  margin-bottom: 1rem;
}

.unit__single .ui.header .icon.mr0 {
  margin-right: 0;
}
.h30 {
  min-height: 30vh;
}

.green {
  color: #00b5ad;
}


.ui.form .field.radio-group {
 margin-bottom: 5px;
}

.field .rc-slider {
  width: 95%;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 5px;
}

.rc-slider .rc-slider-track {
  background-color: #3da7a286
}

.rc-slider .rc-slider-handle {
  border: solid 2px #109b94;
}

.rc-slider .rc-slider-handle:hover {
  border: solid 2px #01968e;
}
.rc-slider .rc-slider-handle-click-focused {
  border: solid 2px #01968e;
}

.rc-slider .rc-slider-handle:focus {
  border-color: #01968e;
  box-shadow: 0 0 5px #0ce0d6;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider .rc-slider-handle-click-focused:focus {
  border-color: #01968e;
  box-shadow: 0 0 5px #0ce0d6;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider .rc-slider-handle:hover {
  border-color: #01968e;
}
.rc-slider .rc-slider-handle:active {
  border-color: #01968e;
  box-shadow: 0 0 5px #0ce0d6;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.rc-slider .rc-slider-dot-active {
    border-color: #01968e;
}

.rc-slider .rc-slider-mark > span:nth-child(1) {
  left: 7% !important;
}
.rc-slider .rc-slider-mark > span:nth-child(2) {
  left: 93% !important;
}
.rc-slider .rc-slider-mark > span {
  width: 60px;
}

.custom-pagination.ui.pagination.menu .active.item {
  background-color: rgba(0,0,0,.07);
}

.custom-pagination.ui.pagination.menu .item {
  outline: none;
}